
<section ng-controller="basketController as basketcontroller" id="basket-main-page-section">
    <div class="row">
        <div class="col-md-1"></div>
    <div class="basket-container container col-md-10" data-ng-controller="WinesController as winesSelection">

        <div class="navbar navbar-inverse full-width basket-navbar">
            <div class="navbar-header basket-navbar-header">
                <span class="sr-only">Ionica Wine Cellars</span>
                <span class="navbar-brand">Your Basket</span>
            </div>
            <ul class="nav navbar-nav pull-right basket-price-quantity">
                <li>Quantity: {{basketTotal.quantity}}</li>
                <li>Total: {{basketTotal.sum | currency:'£'}}</li>
            </ul>
        </div>
        <div class="row basket-wine-display-row" ng-repeat="wine in basket track by $index" id="{{wine.id}}">
            <div class="wine-display-inner-container" ng-init="basket=(basket[$index].totalBasket)" >
                <img ng-src="{{wine.images[0].full}}" alt="{{wine.name}} bottle image" width="45px" height="180px" style="float: left;">
                <div class="wine-display-inner-container-info" >
                    <h1>{{wine.name}}</h1><br>
                    <p><strong>Region:</strong> {{wine.region}}</p>
                    <a href="#" ng-click="removeProduct($event)"><span class="fa fa-trash fa-2x pull-right"></span></a>
                    <button class="btn btn-default pull-right" ng-click="updateBasket($event)" >Update</button>
                    <label class="pull-right">Quantity
                        <input type="number" size="1" min="1" max="9"  value="{{wine.totalBasket}}" name="num"><br>
                    <span class="error-message"></span></label>
                    <p><strong>Price:</strong> {{wine.price | currency : '£'}}</p>
                </div>
            </div>
        </div>
        <div class="wine-basket-button-container">
            <p class=""></p>
            <a href="#" ng-click="checkStock($event)"><input type="button" class="btn btn-warning btn-block pull-right" value="Next"></a>
        </div>
         </div>
        <div class="col-md-1"></div>
    </div>
</section>

