<section class="info-section">
    <div class="container-fluid about-us-container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3 contact-info">
                <h1>Contacts:</h1>
                <ul>
                    <li>We are located in Surrey</li>
                    <li>108, Rodeo Drive</li>
                    <li>CR0 6BA Sutton</li>
                    <a href="mailto:info@ionicawinecellar.co.uk"><li><span class="fa fa-envelope-square fa-2x"></span> info@ionicawinecellar.co.uk</li></a>
                    <li><span class="fa fa-mobile-phone fa-3x"></span> +44 (0) 765xxxxxx</li>
                    <a href="enquiriesForm.html"><li><span class="fa fa-wpforms fa-2x"></span> Contact Form</li></a>
                </ul>
            </div>
            <div class="col-lg-7 img-responsive" id="map">
            </div>
        </div>
    </div>
</section>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhLmsGsQ0f1iyIwMXzn8dKArO5Gjdz-gQ&callback=initMap">
</script>
